aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
altair==5.5.0
annotated-types==0.7.0
anthropic==0.59.0
anyio==4.9.0
attrs==25.3.0
browser-use
openai>=1.0.0
playwright
streamlit
